.comment-project {
  padding-block-start: 200px;
  padding-block-end: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.comment-project p {
  margin: 0;
}

.comment-project a img {
  inline-size: 80px;
  block-size: 80px;
}

.coment-first-text {
  font: var(--body1);
  font-size: 34px;
  line-height: 55.01px;
}

.coment-second-text {
  font: var(--headline5);
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .comment-project {
    padding-block-start: 40px;
    padding-block-end: 40px;
  }
  .coment-first-text {
    font-size: 24px;
    line-height: 38.83px;
  }
}
